//.wrap {
//  display: flex;
//
//  &_components {
//    width: 100%;
//  }
//}
//.router-wrap {
//  padding: 30px 40px;
//  background: #f5f7fa;
//  width: 100%;
//}

.wrap {
  display: flex;

  &_content {
    width: 100%;
  }

  &_sideBar-content {
    padding: 40px 30px;
    background: #f5f7fa;
    height: 100vh;
  }
}
