<header class="header">
  <form class="header__form">
    <h1 class="header__title">{{ dataTitle }}</h1>

    <div class="header__tools">
      <div class="search">
        <label for="search-input" class="search__icon">
          <img src="assets/headerImg/magnifying.svg" alt="Search" />
        </label>
        <input
          id="search-input"
          type="text"
          class="search__input"
          placeholder="Search for something"
        />
      </div>

      <button
        routerLink="settings"
        type="button"
        mat-icon-button
        class="settings-button"
        aria-label="Settings"
      >
        <mat-icon>settings</mat-icon>
      </button>

      <button
        type="button"
        mat-icon-button
        class="notification-button"
        [matMenuTriggerFor]="menu"
        aria-label="Notifications"
      >
        <mat-icon>notifications_unread</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item>
          <mat-icon>notifications_off</mat-icon>
          <span>Disable alerts</span>
        </button>
      </mat-menu>

      <div class="user-avatar"></div>
      <div>
        <app-switch-language />
      </div>
    </div>
  </form>
</header>
