<form [formGroup]="form" (ngSubmit)="submit()">
  <div class="user-form__row">
    <div class="user-form__field">
      <label>Your Name</label>
      <input type="email" placeholder="Charlene Reed" formControlName="username" />

      <div *ngIf="isInvalid('username')">
        @if (getError('username', 'required')) {
          <mat-error>Це поле обов'язкове</mat-error>
        }
      </div>
    </div>

    <div class="user-form__field">
      <label>User Name</label>
      <input type="password" placeholder="Charlene Reed" formControlName="password" />

      <div *ngIf="isInvalid('password')">
        @if (getError('password', 'required')) {
          <mat-error>Це поле обов'язкове</mat-error>
        }
        @if (getError('password', 'minlength')) {
          <mat-error> Мінімальна довжина паролю 6 символів</mat-error>
        }
      </div>
    </div>
  </div>

  <button type="submit" [disabled]="form.invalid" mat-flat-button>Submit</button>
</form>
