<div>
  <div></div>

  <div>
    @if (loader) {
      <ngx-skeleton-loader
        count="10"
        appearance="line"
        [theme]="{ height: '52px', 'margin-bottom': '10px' }"
      ></ngx-skeleton-loader>
    } @else {
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
        <ng-container matColumnDef="Description">
          <th mat-header-cell *matHeaderCellDef>Description</th>
          <td mat-cell *matCellDef="let element">{{ element.description }}</td>
        </ng-container>

        <ng-container matColumnDef="TransactionID">
          <th mat-header-cell *matHeaderCellDef>Transaction ID</th>
          <td mat-cell *matCellDef="let element">{{ element.transactionId }}</td>
        </ng-container>

        <ng-container matColumnDef="Type">
          <th mat-header-cell *matHeaderCellDef>Type</th>
          <td mat-cell *matCellDef="let element">{{ element.type }}</td>
        </ng-container>

        <ng-container matColumnDef="CardNumber">
          <th mat-header-cell *matHeaderCellDef>Card</th>
          <td mat-cell *matCellDef="let element">{{ element.cardNumber }}</td>
        </ng-container>

        <ng-container matColumnDef="Date">
          <th mat-header-cell *matHeaderCellDef>Date</th>
          <td mat-cell *matCellDef="let element">{{ element.date | date: 'short' }}</td>
        </ng-container>

        <ng-container matColumnDef="Amount">
          <th mat-header-cell *matHeaderCellDef>Amount</th>
          <td mat-cell *matCellDef="let element">{{ element.amount }}</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

        <tr class="mat-row no-data-row" *matNoDataRow>
          <td class="mat-cell" [attr.colspan]="displayedColumns.length">
            <div class="no-data-content">
              <h3>No Active Transactions Found</h3>
              <p>
                You don’t have any active Transactions at the moment. Once you apply and get
                approved, your Transactions will appear here.
              </p>
              <button mat-raised-button class="loan-overview__no-data-button">
                Apply for a Transactions
              </button>
            </div>
          </td>
        </tr>
      </table>
    }
  </div>
</div>
