<form class="user-form" [formGroup]="form" (ngSubmit)="save()">
  <div class="user-form__avatar"></div>

  <div class="user-form__content">
    <div class="user-form__row">
      <div class="user-form__field">
        <label>Your Name</label>
        <input type="text" placeholder="Charlene Reed" formControlName="fullName" />
      </div>

      <div class="user-form__field">
        <label>User Name</label>
        <input type="text" placeholder="Charlene Reed" formControlName="username" />
      </div>
    </div>

    <div class="user-form__row">
      <div class="user-form__field">
        <label>Email</label>
        <input type="email" placeholder="charlenereed@gmail.com" formControlName="email" />
      </div>

      <div class="user-form__field">
        <label>Password</label>
        <input type="password" placeholder="**********" formControlName="password" />
      </div>
    </div>

    <div class="user-form__row">
      <div class="user-form__field">
        <label for="dateOfBirth">Date of Birth</label>
        <input placeholder="25 January 1990" formControlName="dateOfBirth" />
      </div>

      <div class="user-form__field">
        <label>Present permanentAddress</label>
        <input
          type="text"
          placeholder="San Jose, California, USA"
          formControlName="presentAddress"
        />
      </div>
    </div>

    <div class="user-form__row">
      <div class="user-form__field">
        <label>Permanent permanentAddress</label>
        <input type="text" placeholder="San Jose, California, USA" formControlName="address" />
      </div>

      <div class="user-form__field">
        <label>City</label>
        <input type="text" placeholder="San Jose" formControlName="city" />
      </div>
    </div>

    <div class="user-form__row">
      <div class="user-form__field">
        <label>Postal Code</label>
        <input type="text" placeholder="45962" formControlName="postalCode" />
      </div>

      <div class="user-form__field">
        <label>Country</label>
        <input type="text" placeholder="USA" formControlName="country" />
      </div>
    </div>

    <div class="user-form__button">
      <button type="submit" [disabled]="form.invalid" mat-flat-button>Зберегти</button>
    </div>
  </div>
</form>
