<form class="user-form" [formGroup]="form" (ngSubmit)="save()">
  <div class="user-form__avatar"></div>

  <div class="user-form__content">
    <div class="user-form__row">
      <div class="user-form__field">
        <label for="yourName">Your Name</label>
        <input type="text" id="yourName" placeholder="Charlene Reed" formControlName="yourName" />
      </div>

      <div class="user-form__field">
        <label for="userName">User Name</label>
        <input type="text" id="userName" placeholder="Charlene Reed" formControlName="userName" />
      </div>
    </div>

    <div class="user-form__row">
      <div class="user-form__field">
        <label for="email">Email</label>
        <input
          type="email"
          id="email"
          placeholder="charlenereed@gmail.com"
          formControlName="email"
        />

        <div *ngIf="form.controls.email?.invalid && form.controls.email?.touched">
          @if (form.controls.email.hasError('required')) {
            <small style="color: red">Поле обовязкове</small>
          }
          @if (form.controls.email.hasError('email')) {
            <small style="color: red">Емаіл не валідний</small>
          }
        </div>
      </div>

      <div class="user-form__field">
        <label for="password">Password</label>
        <input type="password" id="password" placeholder="**********" formControlName="password" />
      </div>
    </div>

    <div class="user-form__row">
      <div class="user-form__field">
        <label for="dataBirth">Date of Birth</label>
        <input
          type="text"
          id="dataBirth"
          placeholder="25 January 1990"
          formControlName="dataBirth"
        />
      </div>

      <div class="user-form__field">
        <label for="presentAddress">Present Address</label>
        <input
          type="text"
          id="presentAddress"
          placeholder="San Jose, California, USA"
          formControlName="presentAddress"
        />
      </div>
    </div>

    <div class="user-form__row">
      <div class="user-form__field">
        <label for="address">Permanent Address</label>
        <input
          type="text"
          id="address"
          placeholder="San Jose, California, USA"
          formControlName="address"
        />
      </div>

      <div class="user-form__field">
        <label for="city">City</label>
        <input type="text" id="city" placeholder="San Jose" formControlName="city" />
      </div>
    </div>

    <div class="user-form__row">
      <div class="user-form__field">
        <label for="postalCode">Postal Code</label>
        <input type="text" id="postalCode" placeholder="45962" formControlName="postalCode" />
      </div>

      <div class="user-form__field">
        <label for="country">Country</label>
        <input type="text" id="country" placeholder="USA" formControlName="country" />
      </div>
    </div>

    <div class="user-form__button">
      <button type="submit" [disabled]="form.invalid" mat-flat-button>Save</button>
    </div>
  </div>
</form>

<!--

1. Доробити сайдБар
2. Хедер
3. поміняти інпути як в проекті
4. Зроби невелику дизайн систему :root{}!!!!!!
-->
