.loan-overview {
  display: flex;
  flex-direction: column;
  gap: 24px;

  &__cards {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
    width: 100%;
  }

  &__card {
    display: flex;
    gap: 15px;
    background: #ffffff;
    padding: 25px 27px;
    border-radius: 25px;
    width: 100%;
    flex: 1 1 200px;
  }

  &__card-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 8px;

    span:first-child {
      font-size: 16px;
      color: #718ebf;
      font-weight: 400;
      white-space: nowrap;
    }

    span:last-child {
      font-size: 20px;
      font-weight: 500;
      color: #232323;
      white-space: nowrap;
    }
  }

  &__icon {
    height: 70px;
    width: 70px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;

    &--personal {
      background: #e7edff;
    }
    &--corporate {
      background: #fff5d9;
    }
    &--business {
      background: #ffe0eb;
    }
    &--custom {
      background: #dcfaf8;
    }
  }

  &__caption {
    text-align: start;
    margin-bottom: 15px;
    color: #333b69;
    font-size: 1.25rem;
    font-weight: 500;
  }

  &__footer {
    &-summary {
      display: flex;
      justify-content: space-between;

      p {
        margin: 0;
      }
    }
  }
}

.no-data-row td {
  padding: 40px 20px;
  text-align: center;
  border-bottom: none;
}

.no-data-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  color: #666;
}

.no-data-content h3 {
  color: #343c6a;
}

.no-data-content p {
  max-width: 420px;
  font-size: 14px;
  text-align: center;
  color: #718ebf;
}
