.layout {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.service-cards {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  gap: 30px;
}

.service-card {
  display: flex;
  align-items: center;
  gap: 22px;
  flex: 1 1 200px;
  background: #ffffff;
  padding: 25px 35px;
  border-radius: 25px;

  &__content {
    display: flex;
    flex-direction: column;
    gap: 8px;

    span:first-child {
      font-size: 20px;
      color: #232323;
      font-weight: 500;
      white-space: nowrap;
    }

    span:last-child {
      font-size: 16px;
      color: #718ebf;
      font-weight: 400;
      white-space: nowrap;
    }
  }

  &__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70px;
    width: 70px;
    border-radius: 50%;
  }
}

.icon-life {
  background: #e7edff;
}
.icon-shopping {
  background: #fff5d9;
}
.icon-safety {
  background: #dcfaf8;
}

.bank-service-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;

  &__title {
    font-size: 22px;
    font-weight: 500;
    color: #343c6a;
  }
}

.bank-service-scroll-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-height: 500px;
  height: 100%;
  overflow-y: auto;
}

.bank-service {
  display: flex;
  align-items: center;
  background: #ffffff;
  padding: 23px 30px 23px 15px;
  border-radius: 20px;
  justify-content: space-between;

  &__info {
    display: flex;
    gap: 20px;

    span:first-child {
      font-size: 16px;
      color: #232323;
    }

    span:last-child {
      font-size: 15px;
      color: #718ebf;
    }
  }

  &__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    width: 60px;
    border-radius: 20%;
    flex-shrink: 0;
  }

  &__text,
  &__detail {
    display: flex;
    flex-direction: column;
    gap: 7px;

    span:first-child {
      font-size: 16px;
      font-weight: 500;
      color: #232323;
    }

    span:last-child {
      font-size: 15px;
      color: #718ebf;
      font-weight: 400;
    }
  }

  &__action {
    display: flex;
  }

  &__info,
  &__detail,
  &__action {
    align-items: center;
  }
}

.icon-loan {
  background: #ffe0eb;
}
.icon-checking {
  background: #fff5d9;
}
.icon-saving {
  background: #ffe0eb;
}
.icon-cards {
  background: #e7edff;
}
.icon-insurance {
  background: #dcfaf8;
}
