<div class="layout">
  <div class="service-cards">
    <div class="service-card">
      <div class="service-card__icon icon-life">
        <img src="assets/serviceImg/filled.svg" />
      </div>
      <div class="service-card__content">
        <span>Life Insurance</span>
        <span>Unlimited protection</span>
      </div>
    </div>

    <div class="service-card">
      <div class="service-card__icon icon-shopping">
        <img src="assets/serviceImg/bag.svg" />
      </div>
      <div class="service-card__content">
        <span>Shopping</span>
        <span>Buy. Think. Grow.</span>
      </div>
    </div>

    <div class="service-card">
      <div class="service-card__icon icon-safety">
        <img src="assets/serviceImg/shield.svg" />
      </div>
      <div class="service-card__content">
        <span>Safety</span>
        <span>We are your allies</span>
      </div>
    </div>
  </div>

  <div class="bank-service-list">
    <h2 class="bank-service-list__title">Bank Services List</h2>

    <div class="bank-service-scroll-list">
      <div class="bank-service">
        <div class="bank-service__info">
          <div class="bank-service__icon icon-loan">
            <img class="bank-service__icon-img" src="assets/serviceImg/service-loan.svg" />
          </div>
          <div class="bank-service__text">
            <span>Business loans</span>
            <span>It is a long established</span>
          </div>
        </div>
        <div class="bank-service__detail"><span>Lorem Ipsum</span><span>Many publishing</span></div>
        <div class="bank-service__detail"><span>Lorem Ipsum</span><span>Many publishing</span></div>
        <div class="bank-service__detail"><span>Lorem Ipsum</span><span>Many publishing</span></div>
        <div class="bank-service__action"><button mat-stroked-button>View Details</button></div>
      </div>

      <div class="bank-service">
        <div class="bank-service__info">
          <div class="bank-service__icon icon-checking">
            <img class="bank-service__icon-img" src="assets/serviceImg/service-briefcase.svg" />
          </div>
          <div class="bank-service__text">
            <span>Checking accounts</span>
            <span>It is a long established</span>
          </div>
        </div>
        <div class="bank-service__detail"><span>Lorem Ipsum</span><span>Many publishing</span></div>
        <div class="bank-service__detail"><span>Lorem Ipsum</span><span>Many publishing</span></div>
        <div class="bank-service__detail"><span>Lorem Ipsum</span><span>Many publishing</span></div>
        <div class="bank-service__action"><button mat-stroked-button>View Details</button></div>
      </div>

      <div class="bank-service">
        <div class="bank-service__info">
          <div class="bank-service__icon icon-saving">
            <img class="bank-service__icon-img" src="assets/serviceImg/service-group.svg" />
          </div>
          <div class="bank-service__text">
            <span>Savings accounts</span>
            <span>It is a long established</span>
          </div>
        </div>
        <div class="bank-service__detail"><span>Lorem Ipsum</span><span>Many publishing</span></div>
        <div class="bank-service__detail"><span>Lorem Ipsum</span><span>Many publishing</span></div>
        <div class="bank-service__detail"><span>Lorem Ipsum</span><span>Many publishing</span></div>
        <div class="bank-service__action"><button mat-stroked-button>View Details</button></div>
      </div>

      <div class="bank-service">
        <div class="bank-service__info">
          <div class="bank-service__icon icon-cards">
            <img class="bank-service__icon-img" src="assets/serviceImg/service-user.svg" />
          </div>
          <div class="bank-service__text">
            <span>Debit and credit cards</span>
            <span>It is a long established</span>
          </div>
        </div>
        <div class="bank-service__detail"><span>Lorem Ipsum</span><span>Many publishing</span></div>
        <div class="bank-service__detail"><span>Lorem Ipsum</span><span>Many publishing</span></div>
        <div class="bank-service__detail"><span>Lorem Ipsum</span><span>Many publishing</span></div>
        <div class="bank-service__action"><button mat-stroked-button>View Details</button></div>
      </div>

      <div class="bank-service">
        <div class="bank-service__info">
          <div class="bank-service__icon icon-insurance">
            <img class="bank-service__icon-img" src="assets/serviceImg/shield.svg" />
          </div>
          <div class="bank-service__text">
            <span>Life Insurance</span>
            <span>It is a long established</span>
          </div>
        </div>

        <div class="bank-service__detail"><span>Lorem Ipsum</span><span>Many publishing</span></div>
        <div class="bank-service__detail"><span>Lorem Ipsum</span><span>Many publishing</span></div>
        <div class="bank-service__detail"><span>Lorem Ipsum</span><span>Many publishing</span></div>
        <div class="bank-service__action"><button mat-stroked-button>View Details</button></div>
      </div>
    </div>
  </div>
</div>
