<div class="layout">
  <div class="service-cards">
    <div class="service-card">
      <div class="service-card__icon icon-life">
        <img src="assets/serviceImg/filled.svg" />
      </div>
      <div class="service-card__content">
        <span>Life Insurance</span>
        <a href="#">Unlimited protection</a>
      </div>
    </div>

    <div class="service-card">
      <div class="service-card__icon icon-shopping">
        <img src="assets/serviceImg/bag.svg" />
      </div>
      <div class="service-card__content">
        <span>Shopping</span>
        <a href="#">Buy. Think. Grow.</a>
      </div>
    </div>

    <div class="service-card">
      <div class="service-card__icon icon-safety">
        <img src="assets/serviceImg/shield.svg" />
      </div>
      <div class="service-card__content">
        <span>Safety</span>
        <a href="#">We are your allies</a>
      </div>
    </div>
  </div>

  <div class="bank-service-list">
    <h2 class="bank-service-list__title">Bank Services List</h2>

    <!-- 1 -->
    <div class="bank-service">
      <div class="bank-service__info">
        <div class="bank-service__icon icon-loan">
          <img class="bank-service__icon-img" src="assets/serviceImg/service-loan.svg" />
        </div>
        <div class="bank-service__text">
          <span>Business loans</span>
          <a href="">It is a long established</a>
        </div>
      </div>
      <div class="bank-service__detail"><span>Lorem Ipsum</span><a href="">Many publishing</a></div>
      <div class="bank-service__detail"><span>Lorem Ipsum</span><a href="">Many publishing</a></div>
      <div class="bank-service__detail"><span>Lorem Ipsum</span><a href="">Many publishing</a></div>
      <div class="bank-service__action"><button mat-stroked-button>View Details</button></div>
    </div>

    <!-- 2 -->
    <div class="bank-service">
      <div class="bank-service__info">
        <div class="bank-service__icon icon-checking">
          <img class="bank-service__icon-img" src="assets/serviceImg/service-briefcase.svg" />
        </div>
        <div class="bank-service__text">
          <span>Checking accounts</span>
          <a href="">It is a long established</a>
        </div>
      </div>
      <div class="bank-service__detail"><span>Lorem Ipsum</span><a href="">Many publishing</a></div>
      <div class="bank-service__detail"><span>Lorem Ipsum</span><a href="">Many publishing</a></div>
      <div class="bank-service__detail"><span>Lorem Ipsum</span><a href="">Many publishing</a></div>
      <div class="bank-service__action"><button mat-stroked-button>View Details</button></div>
    </div>

    <!-- 3 -->
    <div class="bank-service">
      <div class="bank-service__info">
        <div class="bank-service__icon icon-saving">
          <img class="bank-service__icon-img" src="assets/serviceImg/service-group.svg" />
        </div>
        <div class="bank-service__text">
          <span>Savings accounts</span>
          <a href="">It is a long established</a>
        </div>
      </div>
      <div class="bank-service__detail"><span>Lorem Ipsum</span><a href="">Many publishing</a></div>
      <div class="bank-service__detail"><span>Lorem Ipsum</span><a href="">Many publishing</a></div>
      <div class="bank-service__detail"><span>Lorem Ipsum</span><a href="">Many publishing</a></div>
      <div class="bank-service__action"><button mat-stroked-button>View Details</button></div>
    </div>

    <!-- 4 -->
    <div class="bank-service">
      <div class="bank-service__info">
        <div class="bank-service__icon icon-cards">
          <img class="bank-service__icon-img" src="assets/serviceImg/service-user.svg" />
        </div>
        <div class="bank-service__text">
          <span>Debit and credit cards</span>
          <a href="">It is a long established</a>
        </div>
      </div>
      <div class="bank-service__detail"><span>Lorem Ipsum</span><a href="">Many publishing</a></div>
      <div class="bank-service__detail"><span>Lorem Ipsum</span><a href="">Many publishing</a></div>
      <div class="bank-service__detail"><span>Lorem Ipsum</span><a href="">Many publishing</a></div>
      <div class="bank-service__action"><button mat-stroked-button>View Details</button></div>
    </div>

    <!-- 5 -->
    <div class="bank-service">
      <div class="bank-service__info">
        <div class="bank-service__icon icon-insurance">
          <img class="bank-service__icon-img" src="assets/serviceImg/shield.svg" />
        </div>
        <div class="bank-service__text">
          <span>Life Insurance</span>
          <a href="">It is a long established</a>
        </div>
      </div>
      <div class="bank-service__detail"><span>Lorem Ipsum</span><a href="">Many publishing</a></div>
      <div class="bank-service__detail"><span>Lorem Ipsum</span><a href="">Many publishing</a></div>
      <div class="bank-service__detail"><span>Lorem Ipsum</span><a href="">Many publishing</a></div>
      <div class="bank-service__action"><button mat-stroked-button>View Details</button></div>
    </div>
  </div>
</div>
